<div class="container">
    <header>
        <h1>CV-Applikation</h1>
        <nav>
            <ul>
                <li><a href="/">Startsida</a></li>
                <li><a href="addcourse">Lägga till</a></li>
                <li><a href="about">Om oss</a></li>
            </ul>
        </nav>
    </header>
</div>