<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV DATABAS</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include("partials/main-header") %>
    <div class="container">
        <main>
            <section class="form-section">
                <h2>Fyll i dina kurser:</h2>

                <form method="post" class="course-form">
                    <% if(error != ""){ %>
                        <span class="error"> <%= error %></span>
                    <% } %>
                    <label for="name">Kursnamn:</label>
                    <input type="text" name="name">
                    <br>
                    <label for="code">Kurskod:</label>
                    <input type="text" name="code">
                    <br>
                    <label for="url">Kursplan (url):</label>
                    <input type="url" name="url">
                    <br>
                    <label for="progression">Progression:</label>
                    <select name="progression">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                    </select>
                    <br>
                    <input type="submit" value="Spara kurs" class="btn">
                </form>
            </section>
        </main>
    </div>
</body>
</html>