<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV DATABAS</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include("partials/main-header") %>
    <div class="container">
        <main>
            <section class="output-section">
                <h2>Lista</h2>
                <p>Klicka på kurskoden för att söka rätt på kursplanen.</p>
                <table>
                    <thead>
                        <tr>
                            <th>Kursnamn</th>
                            <th>Kurskod</th>
                            <th>Progression</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="course-list"></tbody>
                </table>
            </section>
        </main>
    </div>
</body>
</html>