@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: beige;
    color: rgb(26, 25, 25);
    font-family: "Sen", sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 2rem 0;
}

main{
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

/* Text */
h1, h2, h3 {letter-spacing: -6%; font-weight: 700;}

.error{ 
    color: tomato; 
    font-weight: 600;
    padding: 1rem;
    border: 1px solid tomato;
    background: rgba(255, 99, 71, 0.247);
    border-radius: 3px;
}

/* Sections */
.form-section{
    width: 100%;
}

.course-form{
    display: grid;
}

label{
    font-size: 0.9rem;
    font-weight: 600;
}

input[type=text],input[type=url]{
    padding: 0.25rem;
    font: inherit;
}

select {
    font: inherit;
    padding: 0.45rem;
}

/* Utility */
.container {
    max-width: 800px;
    margin: 0 auto;
}

.btn {
    padding: 0.5rem 1.2rem;
    background: #0066ff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    font: inherit;
    transition: background 1s ease;
}
.btn:hover {
    background: #3d87f7;
}